---
import Button from '@components/common/Button.astro';
import Carousel from '@components/common/Carousel.astro';
import TitleDivider from '@components/common/TitleDivider.astro';
import background from '@images/bg-shops.png';
import type { Store } from 'src/data/stores';
import { getImage } from 'astro:assets';

interface Props {
  class?: string;
  stores: Store[];
  title?: string;
  buttonText?: string;
  buttonLink?: string;
}
const {
  class: className,
  stores,
  title = 'Nuestras Tiendas',
  buttonLink,
  buttonText,
} = Astro.props;

const optimizedBackgroundImage = await getImage({ src: background });
---

<section
  class:list={[className]}
  style=`background-image: url("${optimizedBackgroundImage.src}")`
>
  <div class='container'>
    <TitleDivider class='text-white mb-4 mt-8'>{title}</TitleDivider>

    {
      stores.length > 0 && (
        <div class='bg-white rounded-xl mb-8 px-8 py-4'>
          <Carousel class='mb-8 mt-8' items={stores} type='stores' />
        </div>
      )
    }

    {
      buttonLink && buttonText && (
        <div class='flex justify-center'>
          <Button variant='white' href={buttonLink}>
            {buttonText}
          </Button>
        </div>
      )
    }
  </div>
</section>
