---
interface Props {
  imageUrl: string;
  title?: string;
  type?: string;
}

const { imageUrl, title, type } = Astro.props;
const imageSrc =
  type === 'stores'
    ? imageUrl
      ? `/src/images/stores/${imageUrl}`
      : `/src/images/stores/404.png`
    : type === 'events'
      ? imageUrl
        ? `/src/images/events/${imageUrl}`
        : `/src/images/events/404.png`
      : imageUrl
        ? `/src/images/${imageUrl}`
        : `/src/images/404.png`;
---

<div class='slide pl-4'>
  <img
    width={200}
    height={200}
    src={imageSrc}
    alt={title || ''}
    class='w-full rounded-xl'
  />

  {
    title && (
      <h3 class='text-secondary font-bold text-xl [&::before]:border-primary text-center'>
        {title}
      </h3>
    )
  }
</div>

<style>
  .slide {
    --slide-items: 1;

    flex: 0 0 calc(100% / var(--slide-items));
    min-width: 0;

    @media (width >=768px) {
      --slide-items: 2;
    }

    @media (width >= 1024px) {
      --slide-items: 3;
    }
  }

  .slide h3::before {
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    content: '';
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    width: 14px;
  }
</style>
